.body{
    font-family: 'Roboto', sans-setif;
}

.header{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: calc(100vw/2); 
    background: url(./images/header_image.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}
.header h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;   
}
.header-description-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: 20px;
    color: #ffffff; 
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top:35px;
    margin-bottom:50px;  
}
.header-link{  
    text-decoration: none;
    border-bottom: 1px dashed #ffffff;
    text-transform: uppercase; 
    color: #ffffff; 
    margin-left:2px;        
}
.transparent-button{
    font-family: 'Roboto', sans-setif;
    background-color: #c4bbb53f;
    width: 250px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 20;
    color:#ffffff; 
}


.article-header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #ffffff;
    height: 300px; 
    color: #747474; 
    font-weight:lighter;  
}
.article-header h2{ 
    font-size: 32px;
    text-align: center;
} 
.article-header p{ 
    font-size: 17px;
    text-align: center;
    padding: 0 50px;
    margin-top:30px;
    line-height: 25px;
}


.navigation-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 1000px;
    background-image: url("https://images.wallpaperscraft.ru/image/fioletovyy_sploshnoy_fon_krasochnyy_65843_2048x1152.jpg");
}
.navigation-article-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;     
    margin-bottom: 30px;  
}
.nav-list li{
    margin-right: 50px;
}
.nav-list-image img{    
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    padding:20px;
    background-color: #c4bbb53f;
    background-origin: padding-box;
    border: 1px solid #f3efeca1;
    margin-bottom: 150px;
}
.nav-list-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    position: relative;
}
.nav-list-image:after{
    position: absolute; 
    content: '.';
    font-size: 120;
    color:#f3efeca1;
    width: 0px;
    margin-top: 65px;
    padding-right:14px;
    height: 90px; 
    border-right: 2px solid #f3efeca1;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:30px 120px;  
    color: #ffffff; 
    font-weight: lighter;  
    text-align: center; 
}
.nav-list h2{
    font-size: 26px; 
    margin-bottom: 30px; 
}
.nav-list p{
    font-size: 18px;     
    line-height: 30px;
}

.image-gallery-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px; 
    width:100%;
    background-image: url("./images/pic02.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
}
.image-gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}
.image-gallery-description{
    font-weight: lighter;
    line-height: 30px;
    margin-right: 50px;
    width: 80%;
    margin-left:10px;
}
.image-gallery-description h2{
    color:#ffffff;
    font-size: 26px; 
    margin-bottom: 20px;
}
.image-gallery-description p{
    color:#ffffff;
    font-size: 17px;
    margin-bottom: 10px;
}
.image-gallery-description button{
    margin-top: 20px;
}
.gallery-images{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
}
.gallery-images img{    
    border-radius: 8px;
    margin-top: 30px;
    margin-right: 30px;
    width: 36%;
    max-height: 200px;
    max-width: 300px;
}

.info-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px; 
    background-image: url("./images/pic04.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
}
.info-article img{
    width: 80%;
    height: 15%;
    margin-top: 70px;
    border-radius: 8px; 
}
.info-article-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.info-article-section-item{
    margin-right: 20px;
    width:35%;
    height:90%;
}
.info-article-section h2{
    color:#ffffff;
    font-size: 20;
    margin: 20px 0px;
    line-height: 30px;
}
.info-article-section p{
    color:#ffffff;
    font-size: 14;
    margin: 20px 0px;
    line-height: 30px;
}
.info-article-section button{
    margin-top: 20px;
}

.message-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 130px;
    
}
.message-article-persontextarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width:100%;
}
.message-article input{
    width:400px;
    height: 50px;
    border:1px solid #a9a9a9;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left:10px;
    color:#888;
    font-size: 13pt;
}
.message-article-messagetextarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; 
}
.message-article textarea{
    width:400px;
    height:150px;
    border:1px solid #a9a9a9;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding-left:10px;
    margin-left:10px;
    margin-bottom: 10px;
    color:#888;
    font-size: 13pt;
}
.message-article-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.message-article-buttons button{ 
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px; 
    font-size: 13pt;

}
.message-article button:first-child{
    background-color: #3d3d3d;
    color:#ffffff;
    border: 1px solid #ffffff; 
    padding: 20px 60px;
}
.message-article button:last-child{
    background-color: #ffffff;
    color:#888;
    border: 1px solid #cfcbcb;
    padding: 20px 40px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    background-color: #f8f8f8;
}
.footer section{
    justify-content: center;
    align-items: center;
    font-size:15px;
    text-align: center;  
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.icons img{
    padding:10px;
    width:40px;
    height: 40px;
}
.copyright{
    margin-bottom: 20px;
    color:#aaa;
}
.footer img{
    clip-path: ellipse(45%);
}
.copyright b{
  margin-left: 7px;  
}
.copyright a{
    color:#aaa;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.copyright a:first-of-type{
    text-transform: uppercase;
}