.body{
    font-family: 'Roboto', sans-setif;
}

.header{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: calc(100vw/2); 
    background: url(./images/header_image.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}
.header h1{
    font-size: 40;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;   
}
.header-description-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: 20;
    color: #ffffff; 
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top:35px;
    margin-bottom:50px;  
}
.header-link{  
    text-decoration: none;
    border-bottom: 1px dashed #ffffff;
    text-transform: uppercase; 
    color: #ffffff; 
    margin-left:2px;        
}
.transparent-button{
    font-family: 'Roboto', sans-setif;
    background-color: #c4bbb53f;
    width: 330px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 20;
    color:#ffffff; 
}


.article-header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #ffffff;
    height: 300px; 
    color: #747474; 
    font-weight:lighter;   
}
.article-header h2{ 
    font-size: 35;
    text-align: center;
} 
.article-header p{ 
    font-size: 15;
    text-align: center;
    padding: 0 50px;
    margin-top:30px;
    line-height: 25px;
}


.navigation-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 1000px;
    background-image: url("https://images.wallpaperscraft.ru/image/fioletovyy_sploshnoy_fon_krasochnyy_65843_2048x1152.jpg");
}
.navigation-article-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;     
    margin-bottom: 30px;  
}
.nav-list li{
    margin-right: 50px;
}
.nav-list-image img{    
    width: 150px;
    height: 150px;
    border-radius: 47%; 
    padding:20px;
    background-color: #c4bbb53f;
    background-origin: padding-box;
    border: 1px solid #f3efeca1;
    margin-bottom: 150px;
}
.nav-list-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    position: relative;
}
.nav-list-image:after{
    position: absolute; 
    content: '.';
    font-size: 120;
    color:#f3efeca1;
    width: 0px;
    margin-top: 65px;
    padding-right:14px;
    height: 90px; 
    border-right: 2px solid #f3efeca1;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:30px 120px;  
    color: #ffffff; 
    font-weight: lighter;  
    text-align: center; 
}
.nav-list h2{
    font-size: 28; 
    margin-bottom: 30px; 
}
.nav-list p{
    font-size: 18;     
    line-height: 30px;
}

.image-gallery-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 1000px; 
    background-image: url("./images/pic02.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
}
.image-gallery-description{
    font-weight: lighter;
    margin-left: 250px;
    line-height: 30px;
    margin-top: 100px;
    margin-right: 30px;
}
.image-gallery-description h2{
    color:#ffffff;
    font-size: 28; 
    margin-bottom: 20px;
}
.image-gallery-description p{
    color:#ffffff;
    font-size: 14;
    margin-bottom: 10px;
}
.image-gallery-description button{
    margin-top: 20px;
}
.gallery-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    margin-top: 70px;
}
.gallery-images img{    
    border-radius: 8px;
    margin-top: 30px;
    margin-right: 30px;
    height:200px;
    width:300px;    
}

.first-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/pic04.jpg");
    background-size: 100%;
    block-size: 100%;
}
.first-article img{
    clip-path: ellipse(200%);
    width: 70%;
    height: 250px;
    margin-top: 40px;
}
.first-article section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding-bottom: 150px;
}
.first-article-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    margin-left:20px;
    width:300px;
    padding-top:25px;
}
.first-article-ul h1{
    color:#ffffff;
    font-size: 32;
}
.first-article-ul h2{
    color:#ffffff;
    font-size: 20; 
}
.first-article-ul h3{
    color:#ffffff;
    font-size: 20; 
    margin-top:10px;
}
.first-article button{
    background-color: #c4bbb53f;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color:#ffffff; 
    width: 80%;
    height: 40px;
    margin-top:20px;
}
.message-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 130px;
    
}
.message-article textarea{
    border-radius: 4px;
    padding:10px;
    margin:8px;
    background-color: #e6e6e6;
}
.message-article-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.message-article-buttons button{ 
    border-radius: 4px;
    
    margin-top: 10px;
    margin-left: 10px; 
}
.message-article button:first-child{
    background-color: #413e3e;
    color:#ffffff;
    border: 1px solid #ffffff; 
    padding: 20px 60px;
}
.message-article button:last-child{
    background-color: #ffffff;
    color:#000000; 
    border: 1px solid #cfcbcb;
    padding: 20px 40px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e9e6e6;
    block-size: 50%;
}
.footer section{
    justify-content: center;
    align-items: center;
    font-size:15;
    width: 100%;
    text-align: center;  
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.icons img{
    padding:10px;
    width:40px;
    height: 40px;
}
.copyright{
    margin-bottom: 20px;
    color:#413e3e;
}
.footer img{
    clip-path: ellipse(45%);
}
.copyright b{
  margin-left: 5px;  
}
.copyright a{
    color:#413e3e;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.copyright a:first-of-type{
    text-transform: uppercase;
}