@media (min-width:550px) and (max-width:1038px){
    .menu{
        display: flex;
        background-color:transparent;
        border: none;
        color:#ffffff;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: fixed;
        top:10;
        right: 30;
    }
    .menu-new{
        display: flex;
        background-color: rgba(255, 255, 255, 0.875);
        border: none;
        color:#212931;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: fixed;
        top:10;
        right: 30;
        box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
    }
    
    .menu-new i{
        color:#212931; 
        margin-right:5px;
        line-height: 1.5;
        font-size: 13px;
    }
    .menu i{
        color:#ffffff; 
        margin-right:5px;
        line-height: 1.5;
        font-size: 13px;
    }
    .nav-right-panel-block{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left:20px ;
        height: 100vh;
        width:40vw;
        background-color:#ffffff;
        position: fixed;
        top:0;
        right: 0;
    }
    .nav-right-panel{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content:flex-end;
    }
    .close-block{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content:flex-end;
        width:95%;
        margin-top: 10px;
    }
    .close{
        color:#eeeeee;
    }
    .nav-right-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width:90%;
    }
    .nav-a{
        padding-top:20px;
        padding-bottom:20px;
        padding-right: 40px;
        padding-left: 5px;
        width:100%;
        border-bottom: 2px solid #eeeeee;
        color:#212931;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-weight: 900;
        font-size: 13px;
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .nav-a:last-of-type{
        border-bottom: none;
        margin-bottom: 20px;
    }
    .nav-right-icons i{
        width: 20px;
        height: 20px;
        padding:5px;
        padding-left:8px;
        border:2px solid #eeeeee;
        border-radius:100% ;
        margin-left: 5px;
        font-size: 18px;
    }
    .header h1{
        font-size: 50px;   
        margin-top:none; 
    }
    .header-description-link{
        font-size: 10px; 
    }
    .material-icons{
        font-size: 12px;
        padding: 6px;
    }
    .main{
        margin-left:50px;
        margin-right:50px;
    }
    .navigation{
        height: 5vw;
    }
    .navigation-button{
        height: 5vw;
        width:20vw;
        font-size: 7px;
    }
    .navigation-button:first-of-type{
        width:22vw;
        font-size: 7px;
    }
    .navigation-button:last-of-type{
        width:100px;
    }
    .nav-icon{
        width: 100px;
    }
    .nav-icon i{
        font-size:9px;
        letter-spacing: 10px;
    }
    .block {
        height: 10px;    
    }
    .block span {
        font-size: 7px;
    }
    .article-h2{
        font-size:25px;
    }
    .article-p{
        margin-top:10px;
        font-size:7px;
    }
    .header-article img{
        margin-top:10px;
        height: 30vh;
    }
    .article-button{
        margin-top:20px;
        margin-bottom:30px;
        padding: 0 20px;
        font-size: 6px;
    }
    .page-article span{
        margin-bottom:10px;
        margin-top: 20px;
        font-size: 7px;
    }
    .page-article h2{
        margin-bottom:10px;
        font-size:11px;
        letter-spacing: 2px;
    }
    .page-article img{
        margin-bottom: 10px;
        height:15vh;
    }
    .page-article p{
        font-size: 7px; 
    }
    .page-article button{
        margin-top:10px;
        margin-bottom:15px;
    }
    .page-nav-button{
        width:20px;
        height:20px;
        font-size:7px;
        letter-spacing: 1px;
    }
    .page-nav-button-dots{
        width:20px;
        height:20px;
        font-size:7px;
        letter-spacing: 1px;
    }
    .page-nav-button:last-of-type{
        width:45px;
        letter-spacing: 1px;
    }
    .message-article-persontextarea{
        height:36vh;
    }
    .message-article-persontextarea label{
        margin-bottom: 5px;
        margin-top:10px;
        font-size: 7px;
    }
    .message-article-persontextarea input{
        width:20vh;
        height: 2rem;
        padding: 3px 5px;
        font-size: 7px;
        margin-bottom: 3px;
    }
    .message-article-persontextarea textarea{
        width:20vh;
        height: 4rem;
        padding: 3px 5px;
        margin-bottom: 3px;
        font-size: 7px;
    }
    .field-button{
        width:20vh;
    }
    .message-article-persontextarea button{
        padding: 0 5px;
        margin-top:5px;
        margin-bottom: 10px;
        font-size:7px;
    }
    .owner-info:first-of-type h2{
        margin-bottom: 2vh;
    }
    .owner-info h2{
        padding-left:7px;
        padding-right:30px;
        font-size:7px;
    }
    .owner-info p{
        font-size:7px;
        letter-spacing: 1px;
    }
    .owner-info a{
        font-size:7px;
        letter-spacing: 1px;
        line-height: 1;
    }
    .nav-icons{
        width: 100%;
        text-align: start;
    }
    .owner-info i{
        width: 5px;
        height: 5px;
        line-height: 0.5;
        padding:8px;
        padding-right: 12px;
        margin-right: 3px;
        font-size: 10px;
    }
    .footer{
        height: 50px;
    }
    .footer b{
        font-size: 7px;
      }
    .footer a{
        font-size: 7px;
    }
    .footer-link{
        padding-right:1rem;
        padding-left: 1rem;
        font-size: 7px;
    }
}