@media (max-width:550px){
    .header h1{
        font-size: 45px;   
        margin-top:none; 
        line-height: 1;
    }
    .header-description-link{
        margin-top: 0;
        font-size: 15px;
        line-height: 2.5; 
    }
    .header-description-part{
        margin-top:5px;
        margin-bottom:10px;
    }
    .material-icons{
        display: none;
    }
    .main{
        margin-top:30px;
        margin-left:25px;
        margin-right:25px;
    }
    .header-article{
        height:200vw;
    }
    .navigation{
        display: none;
    }
    .block {
        width: 85%; 
        height: 40px;        
        margin: 0px 10px 10px;    
    }
    .block span {
        font-size: 14px;
    }
    .block span:before {
        right: 120px;                   
    }
    .block span:after {
        left: 120px; 
    }
    .article-h2{
        font-size:36px;
    }
    .article-p{
        margin-top:10px;
        font-size:15px;
        width:60vw;
        text-align: center;
    }
    .header-article img{
        margin-top:10px;
    }
    .info-article{
        flex-direction: column;
        width:100%;
    }
    .page-article{
        height: 150vw;
        width:100%;
        border-top:2px solid #eeeeee;
    }
    .page-article span{
        margin-bottom:20px;
        margin-top: 10px;
        font-size: 12spx;
    }
    .page-article h2{
        margin-bottom:10px;
        font-size:25px;
        letter-spacing: 2px;
    }
    .page-article img{
        width:72vw;
        height: 40vw;
        margin-bottom: 10px;
    }
    .page-article p{
        width:72vw;
        font-size: 15px; 
        margin-bottom: 10px;
    }
    .page-article button{
        padding: 0 10vw;
        margin-top:10px;
        margin-bottom:15px;
    }
    .page-nav{
        height: 20vw;
    }
    .page-nav-button{
        display: none;
    }
    .page-nav-button-dots{
        display: none;
    }
    .page-nav-button:last-of-type{
        display: flex;
        height: 10vw;
        width:20vw;
        text-align: center;
        background-color: transparent;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size:10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1;
        padding-left: 30px;
    }
    .message-article{
        flex-direction: column;
    }
    .message-article-persontextarea{
        width:100%; 
        height: 80vw;
    }
    .message-article-persontextarea label{
        margin-bottom: 5px;
        margin-top:10px;
        font-size: 15px;
    }
    .message-article-persontextarea input{
        width:80vw;
        height: 2rem;
        padding: 3px 5px;
        font-size: 8px;
        margin-bottom: 3px;
    }
    .message-article-persontextarea textarea{
        width:80vw;
        height: 4rem;
        padding: 3px 5px;
        margin-bottom: 3px;
        font-size: 8px;
    }
    .field-button{
        width:80vw;
    }
    .message-article-persontextarea button{
        width:80vw;
        margin-top:15px;
        margin-bottom: 10px;
        font-size:15px;
    }
    .owner-info{
        width:80vw;
    }
    .owner-info h2{
        padding-left:7px;
        padding-right:30px;
        font-size:13px;
    }
    .owner-info p{
        font-size:13px;
        letter-spacing: 1px;
    }
    .owner-info a{
        font-size:13px;
        letter-spacing: 1px;
        line-height: 1;
    }
    .owner-info i{
        width: 20px;
        height: 20px;
        padding-left:5px;
        padding-bottom:5px;
        margin-left: 5px;
        font-size: 18px;
        line-height:8px;   
    }
    .footer{
        height: 50px;
    }
    .footer b{
        font-size: 8px;
      }
    .footer a{
        font-size: 8px;
    }
    .footer-link{
        padding-right:1rem;
        padding-left: 1rem;
        font-size: 8px;
    }
}